/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/com/app/eurekaserver/EurekaServerServiceApplication.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-archiver/pom.properties
/target/service-registry-service-0.0.1-SNAPSHOT.jar.original
